button {
  --grist-theme-control-border: 1px solid rgb(21, 122, 84);
  --grist-border-radius: 4px;
  --grist-medium-font-size: 13px;
  --grist-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Liberation Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: var(--grist-theme-control-primary-bg);
  color: var(--grist-theme-control-primary-fg);
  color-scheme: dark;
  cursor: pointer;
  padding: 4px 8px;
  outline: none;
  border: var(--grist-theme-control-border);
  border-color: var(--grist-theme-control-primary-bg);
  user-select: none;
  border-radius: var(--grist-border-radius);
  font-size: var(--grist-medium-font-size);
  font-family: var(--grist-font-family);
  font-weight: 250;
  letter-spacing: -0.08px;
  margin-right: 4px;
}

button:hover {
  background-color: var(--grist-theme-control-primary-hover-bg);
  border-color: var(--grist-theme-control-primary-hover-bg);
}